
__pycache__/object_tracker.cpython-38.pyc
.idea/vcs.xml
__pycache__/save_model.cpython-38.pyc
test/parking-lot.mp4
test/ringroad.jpg
yolo/checkpoints/yolov4-416/variables/variables.data-00000-of-00001
resources/project - Shortcut.lnk
yolo/data/yolov4-tiny.weights
yolo/data/yolov4.weights
yolo/outputs/cars.avi
yolo/outputs/demo.avi
yolo/yolov2-tiny.weights
*.weights
